{% extends "base.html.twig" %}
{% block title %}
    Magnifique articles
{% endblock title %}


{% block main %}
    <article class="article">
        {% for article in articles %}
                <div class="container_article">
                    <a href="{{ path("display_article",{'id' : article.id}) }}">
                    <img src="{{ article.image }}" alt="article" >
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.description }}</p>
                    </a>
                </div>
        {% endfor %}
    </article>
{% endblock main %}